.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(24, 134, 104, 0.8);
    padding: 10px 20px;
    height: 74px;
}

.site-title {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border: 2px solid rgb(12, 105, 29);
    color: rgb(12, 105, 29);
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
}

.site-title img {
    height: 30px;
    margin-right: 10px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    align-items: center;
}

.nav-links li a {
    text-decoration: none;
    color: #ecf0f1;
    padding: 5px 10px;
    transition: background-color 0.3s ease;
}

.nav-links li a:hover {
    background-color: rgb(12, 105, 29);
    border-radius: 5px;
}

/* Dla małych ekranów */
@media (max-width: 768px) {
    .nav-links {
        display: none; /* Możesz zmienić to na flex, jeśli chcesz, aby były widoczne */
    }
}

.active {
    background-color: #065716;
}
